<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My 11ty Site with Decap CMS</title>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
<body>
  <h1>Welcome to my 11ty site!</h1>
</body>
</html>