{% if breadcrumbs %}
<div class="breadcrumbs-container">
  <ul class="breadcrumbs">
    <li>
      <a href="/">Home</a>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="breadcrumb-icon">
        <polyline points="9 18 15 12 9 6"></polyline>
      </svg>
    </li>
    
    {% for item in breadcrumbs %}
      <li>
        {% if loop.last %}
          <span>{{ item.label }}</span>
        {% else %}
          <a href="{{ item.url }}">{{ item.label }}</a>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="breadcrumb-icon">
            <polyline points="9 18 15 12 9 6"></polyline>
          </svg>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
{% endif %}