<div class="pagination">
  <div class="pagination-controls">
    <a href="#" class="pagination-arrow pagination-prev">
      &laquo; Previous
    </a>
    
    <div class="pagination-numbers">
      <!-- Will be filled by JavaScript -->
    </div>
    
    <a href="#" class="pagination-arrow pagination-next">
      Next &raquo;
    </a>
  </div>
  
  <div class="pagination-info">
    <!-- Will be filled by JavaScript -->
  </div>
</div>
