<div class="pagination">
  <div class="pagination-controls">
    <a href="#" class="pagination-arrow pagination-prev">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="margin-right: 4px;">
        <polyline points="15 18 9 12 15 6"></polyline>
      </svg>
      Previous
    </a>
    
    <div class="pagination-numbers">
      <!-- Will be filled by JavaScript -->
    </div>
    
    <a href="#" class="pagination-arrow pagination-next">
      Next
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="margin-left: 4px;">
        <polyline points="9 18 15 12 9 6"></polyline>
      </svg>
    </a>
  </div>
  
  <div class="pagination-info">
    <!-- Will be filled by JavaScript -->
  </div>
</div>
