
<div class="breadcrumbs-container">
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><a href="/club-directory/">Club Directory</a></li>
    <li><span>{{ club.title }}</span></li>
  </ul>
</div>
