---
permalink: /sitemap-chronicle.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{ site.url }}/chronicle/</loc>
    <lastmod>{{ page.date.toISOString() }}</lastmod>
    <changefreq>daily</changefreq>
    <priority>0.7</priority>
  </url>
  
  {% for tag in collections.chronicleTagList %}
  <url>
    <loc>{{ site.url }}/chronicle/tags/{{ tag | slug }}/</loc>
    <lastmod>{{ page.date.toISOString() }}</lastmod>
    <changefreq>weekly</changefreq>
    <priority>0.6</priority>
  </url>
  {% endfor %}

  {% for post in collections.chronicle %}
  <url>
    <loc>{{ site.url }}{{ post.url }}</loc>
    <lastmod>{{ post.date.toISOString() }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.5</priority>
  </url>
  {% endfor %}
</urlset> 