---
permalink: sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <sitemap>
    <loc>https://classiccarclubs.uk/sitemap-pages.xml</loc>
     <lastmod>{{ site.buildTime.toISOString() }}</lastmod>
  </sitemap>
  <sitemap>
    <loc>https://classiccarclubs.uk/sitemap-club-directory.xml</loc>
     <lastmod>{{ site.buildTime.toISOString() }}</lastmod>
  </sitemap>
  <sitemap>
    <loc>https://classiccarclubs.uk/sitemap-club-events.xml</loc>
    <lastmod>{{ site.buildTime.toISOString() }}</lastmod>
  </sitemap>
  <sitemap>
    <loc>https://classiccarclubs.uk/sitemap-chronicle.xml</loc>
    <lastmod>{{ site.buildTime.toISOString() }}</lastmod>
  </sitemap>
  <sitemap>
    <loc>https://classiccarclubs.uk/sitemap-auctions.xml</loc>
    <lastmod>{{ site.buildTime.toISOString() }}</lastmod>
  </sitemap>
  <sitemap>
    <loc>https://classiccarclubs.uk/sitemap-auction-houses.xml</loc>
    <lastmod>{{ site.buildTime.toISOString() }}</lastmod>
  </sitemap>
</sitemapindex>
